In [1]:
#Neste exercício você deve criar um programa que abra o arquivo "alunos.csv" e imprima o conteúdo do arquivo linha a linha.
import csv

with open('alunos.csv','r') as arquivo:
    leitor = csv.reader(arquivo)
    for x in leitor:
        print(x)

['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']
['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6']
['110212', 'Ana Beatriz', '20', '7', '7', '7', '8']
['110218', 'Carlos Vernes', '17', '7', '7', '7', '7']
['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10']
['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7']
['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8']
['110301', 'Joao Galo', '20', '5', '6.5', '7', '5']
['110263', 'JosÃ© Valente', '20', '10', '10', '10', '10']
['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10']
['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']

In [4]:
#Para o segundo exercício, você deve criar um programa que realize uma cópia do arquivo "alunos.csv".
#Essa cópia deve ser um arquivo chamado "alunos_copia.csv".

with open('alunos.csv','r') as arquivo, open('alunos_copia.csv','w',newline='') as arquivo_copia:
    leitor = csv.reader(arquivo)
    escritor = csv.writer(arquivo_copia)
    for x in leitor:
        escritor.writerow(x)

In [6]:
#verificando se deu certo
with open('alunos_copia.csv','r') as arquivo:
    leitor = csv.reader(arquivo)
    for x in leitor:
        print(x)

['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']
['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6']
['110212', 'Ana Beatriz', '20', '7', '7', '7', '8']
['110218', 'Carlos Vernes', '17', '7', '7', '7', '7']
['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10']
['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7']
['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8']
['110301', 'Joao Galo', '20', '5', '6.5', '7', '5']
['110263', 'JosÃ© Valente', '20', '10', '10', '10', '10']
['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10']
['110236', 'Adriana Tavares', '20', '8', '8', '8', '8']

In [21]:
#Neste exercício você deve criar um novo arquivo chamado "alunos_media.csv".
#Esse novo arquivo é uma cópia de "alunos.csv" porém com uma coluna a mais chamada "Média"
#que vai abrigar os valores das médias das provas de cada aluno da lista.

#abri um arquivo pra ler e outro pra escrever
with open('alunos.csv','r') as arquivo, open('alunos_media.csv','w',newline='',encoding='utf-8') as arquivo_copia:
    leitor = csv.reader(arquivo)
    escritor = csv.writer(arquivo_copia)
    header=next(leitor) #tirei a primeira linha que sao cabeçalhos
    header.append('Média')#adicionei a coluna média ao cabeçalho
    escritor.writerow(header)#escrevi o cabeçário
    for x in leitor:
        media=((float(x[3])+float(x[4])+float(x[5])+float(x[6]))/4)
        x.append(media)
        escritor.writerow(x)
        
#verificando
with open('alunos_media.csv','r') as arquivo:
    leitor = csv.reader(arquivo)
    for x in leitor:
        print(x)

['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4', 'MÃ©dia']
['110201', 'Antonio Carlos', '20', '6.5', '8.5', '7', '6', '7.0']
['110212', 'Ana Beatriz', '20', '7', '7', '7', '8', '7.25']
['110218', 'Carlos Vernes', '17', '7', '7', '7', '7', '7.0']
['110307', 'Francisco Cunha', '20', '9', '8.5', '8.5', '10', '9.0']
['110275', 'Sandra Rosa', '15', '6.5', '7.5', '7', '7', '7.0']
['110281', 'Juliana Arruda', '18', '7.5', '7', '7.5', '8', '7.5']
['110301', 'Joao Galo', '20', '5', '6.5', '7', '5', '5.875']
['110263', 'JosÃƒÂ© Valente', '20', '10', '10', '10', '10', '10.0']
['110271', 'Maria Ferreira', '19', '9.5', '8', '7', '10', '8.625']
['110236', 'Adriana Tavares', '20', '8', '8', '8', '8', '8.0']

In [22]:
#firula: abrir esse CSV no pacote pandas como um dataframe
import pandas as pd

df = pd.read_csv('alunos_media.csv')

print(df.to_string())

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4   Média
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6   7.000
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8   7.250
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7   7.000
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10   9.000
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7   7.000
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8   7.500
6  110301        Joao Galo          20      5.0      6.5      7.0        5   5.875
7  110263    JosÃ© Valente          20     10.0     10.0     10.0       10  10.000
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10   8.625
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8   8.000

In [23]:
df

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Média
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.000
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.250
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.000
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.000
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.000
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,7.500
6,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875
7,110263,JosÃ© Valente,20,10.0,10.0,10.0,10,10.000
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,8.625
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.000